{% extends 'base.html' %}

{% block title %} Surf-IT | Home{% endblock %}

{% block navigation %}
        <li class="active"><a href="/">Home</a></li>
         <li><a href="{% url 'play' %}">Play</a></li>
        <li><a href="{% url 'display_leaderboard' %}">Leaderboard</a></li>

        <li><a href="http://www.maayafest.com" target="_blank">Maaya 2016</a></li>
{% endblock %}

{% block content%}
        <div class="start-page">
        	<div class="page-header">
            <h1 class="text-center">Surf-IT</h1>
            </div>
            <p>
            <h3 >What is Surf-IT?</h3>
			<p style="font-size:18px; " class="text-left">Surf-IT is an Online Treasure Hunt conducted by the Maaya team. It comes with a different flavor this year keeping in mind the current trend. Surf-IT and win amazing prizes :D

            </p>

			<h3>Rules</h3>
			<p style="font-size:18px;" class="text-left">

            The rules are pretty much the same for those who have played the previous editions of SurfIT. But there are a few more things we have added that we feel might have been missed out on earlier occasions. Please read carefully :)
            </p>
<ul style="font-size:16px;">
    <li>

    The game play involves getting to the next level by whatever means necessary.
    </li>
<li>

There is only one way to get across levels -
Entering the answer in the text box.
Changing URL's will not work :P
</li>
<li>
    Answers are not case sensitive. In case the answer contains more than one word, do not forget to include spaces.
</li>
<li>

    We try to cover most possible answers to a level, but do try out different combinations of answers.
</li>
<li>
    Google is your best friend :D If you're stuck on a question, check Maaya 2016 Facebook page for hints.
</li>
<li>
    We have observed, based on experiences from the previous versions of SurfIT, that in spite of getting the right answers, players refuse to enter them and try them out! We have no restrictions on the number of attempts, so do abuse this rule outrightly
</li>
</ul>

<p style="font-size:18px;" class="text-left">

What are you waiting for? Start surfing!
</p>


            <p>
            <a href="{% url 'display_level' 1%}"><button class="btn btn-primary btn-lg">Start</button></a>
        	</p>
            <br>
           <div class="row">
           <div class="col-md-6" style=" border-right: 1px solid #ccc; height:250px">
           <br>
           <br>
           <br>
           <br>
               <p style="font-size:40px;">Powered by</p>
           </div>
               <div class="col-md-6">
                     {% load static %}

            <a href="http://www.maayafest.com" target="_blank"><img src="{% static '../../static/images/logo.png' %}" height="200px"; width="200px"; class="center-block"></a>
           </div>

           </div>

        </div>

{% endblock %}
